<div class="main">
    <md-toolbar color="primary">
      <span>Nueva ruta</span>
    </md-toolbar>
    <md-progress-bar *ngIf="savingRoute" mode="indeterminate"></md-progress-bar>

  <form class="form" #createAddressForm="ngForm">
    <md-card>
      <md-form-field style="width:100%">
        <input mdInput placeholder="Nombre Ruta" [formControl]="rutaFormControl" name="name" [(ngModel)]="name">
        <md-error *ngIf="rutaFormControl.hasError('required')">
          Nombre es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <input mdInput placeholder="Dirección de Inicio" [formControl]="diriniFormControl" name="start" [(ngModel)]="start">
        <md-error *ngIf="diriniFormControl.hasError('required')">
          Dirección de inicio es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <input mdInput placeholder="Dirección de Destino" [formControl]="dirdestFormControl" name="end" [(ngModel)]="end">
        <md-error *ngIf="dirdestFormControl.hasError('required')">
          Dirección de destino es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
    </md-card>
    <md-card>
      <div class="week">
        <ul>
          <li *ngFor="let day of days" [ngClass]="{'active': day.active}" (click)="day.active = !day.active">{{day.label}}</li>
        </ul>
      </div>
    </md-card>
    <md-card>
      <div class="type">
        <ul>
          <li *ngFor="let type of types" [ngClass]="{'active': type.active}" (click)="type.active = !type.active">
            <md-icon>{{type.label}}</md-icon>
          </li>
        </ul>
      </div>

    </md-card>
    <md-card>
      <button md-raised-button color="primary" (click)="saveAddress()">GUARDAR RUTA</button>
    </md-card>
    <md-progress-bar *ngIf="savingRoute" mode="indeterminate"></md-progress-bar>

  </form>
</div>
