<md-toolbar color="primary">
  <img class="avatar" [src]="userpic" (click)="logout()">
  <span>Nueva ruta</span>
</md-toolbar>
<md-card>
  <md-progress-bar *ngIf="savingRoute" mode="indeterminate"></md-progress-bar>
  <md-card-content>
    <form class="form" #createAddressForm="ngForm">
      <md-form-field style="width:100%">
        <input [(ngModel)]="ruta.nombre" mdInput placeholder="Nombre Ruta" [formControl]="rutaFormControl" name="name" [(ngModel)]="name">
        <md-error *ngIf="rutaFormControl.hasError('required')">
          Nombre es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <input [(ngModel)]="ruta.init.direccion" mdInput placeholder="Dirección de Inicio" [formControl]="diriniFormControl" name="start"
          [(ngModel)]="start">
        <md-error *ngIf="diriniFormControl.hasError('required')">
          Dirección de inicio es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <md-form-field style="width:100%">
        <input [(ngModel)]="ruta.end.direccion" mdInput placeholder="Dirección de Destino" [formControl]="dirdestFormControl" name="end"
          [(ngModel)]="end">
        <md-error *ngIf="dirdestFormControl.hasError('required')">
          Dirección de destino es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <hr>
      <div class="week">
        <ul>
          <li *ngFor="let day of days" [ngClass]="{'active': day.active}" (click)="day.active = !day.active">{{day.label}}</li>
        </ul>
      </div>
      <hr>
      <div class="type">
        <ul>
          <li *ngFor="let type of types" [ngClass]="{'active': type.active}" (click)="type.active = !type.active">
            <md-icon>{{type.label}}</md-icon>
          </li>
        </ul>
      </div>
    </form>
  </md-card-content>
  <hr>
  <md-card-actions>
    <button md-raised-button md-button (click)="back()">ATRÁS</button>
    <button md-raised-button color="primary" (click)="save()">GUARDAR RUTA</button>
  </md-card-actions>
  <md-progress-bar *ngIf="savingRoute" mode="indeterminate"></md-progress-bar>
</md-card>