<md-toolbar color="primary">
  <img class="avatar" [src]="userpic" (click)="logout()">
  <span>Viajeros</span>
</md-toolbar>
<div>
  <md-list class="travelers">
    <md-list-item *ngFor="let person of peopleArr">
      <img src="{{person.photo}}" alt="">
      <div class="name-container">
          <span>{{person.nombre}}</span>
          <div style="text-align: right;">
              <md-icon *ngFor="let star of [1,2,3,4,5]">star</md-icon>
          </div>
      </div>
    </md-list-item>
  </md-list>
  <div class="bottom-actions">
      <button md-button color="primary" (click)="openChat()" md-raised-button>CHAT</button>
      <button md-button color="accent" (click)="back()" md-raised-button>ATRÁS</button>
  </div>
</div>