<md-toolbar color="primary">
  <span>Viajeros</span>
</md-toolbar>
<div>
  <md-list class="travelers">
    <md-list-item *ngFor="let person of [1,2,3,4]; let i = index">
      <img src="http://lorempixel.com/100/100/people/{{i}}/" alt="">
      <div class="name-container">
          <span>Este es el nombre de la persona</span>
          <div style="text-align: right;">
              <md-icon *ngFor="let star of [1,2,3,4,5]">star</md-icon>
          </div>
      </div>
    </md-list-item>
  </md-list>
  <div class="bottom-actions">
      <button md-button color="primary" (click)="openChat()" md-raised-button>Abrir chat</button>
      <button md-button color="accent" (click)="back()" md-raised-button>Atras</button>
  </div>
</div>