<!--div>
  <div class="main">
    <img width="100" style="margin: 20px" src="../../../assets/img/logo.png" />
    <form class="form">
      <md-form-field>
        <input mdInput placeholder="Correo Electrónico" [formControl]="emailFormControl">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
          Por favor ingrese un correo valido.
        </md-error>
        <md-error *ngIf="emailFormControl.hasError('required')">
          Correo es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Contraseña" type="password" [formControl]="passwordFormControl">
        <md-error *ngIf="emailFormControl.hasError('required')">
          Contraseña es <strong>obligatorio</strong>
        </md-error>
      </md-form-field>
      <button md-raised-button color="warn" (click)="login()" style="margin:20px 0">INICIAR SESIÓN</button>
      <button md-raised-button color="primary" (click)="loginFB()">INGRESAR CON FACEBOOK</button>
    </form>
  </div>
</div-->

<div class="loader-container circle-pulse-multiple">
  <div class="loader">
    <div id="loading-center-absolute">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
<!--End preloader area-->

<header>
  <div class="header-area sticker">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-6">
          <div class="logo">
            <a href="index.html"><img src="assets/landing/img/logo.png" alt="logo" style="height: 40px;"></a>
          </div>
        </div>
        <div class="col-md-10 hidden-sm">
          <div class="main-menu">
            <nav>
              <ul id="nav">
                <li class="active"><a href="#home">home</a></li>
                <li><a href="#feature">PORQUÉ</a></li>
                <li><a href="#screenshoot">SCREENSHOTS</a></li>
                <li><a href="#works">COMO FUNCIONA</a></li>
                <li><a href="#download">download</a></li>
                <li><a href="#team">EQUIPO</a></li>
                <li><a href="#demo">demo</a></li>
                <li><a href="#pricing">Negocio</a></li>
                <li><a href="#contact">contactO</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-1 col-sm-6 hidden-xs ">
          <div class="search-box">
            <a href="#" id="srch"><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
          <div class="responsive-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Box Area Starts -->
  <div class="search-box-area text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <form action="#">
            <p>
              <input type="text" class="form-control form-home-search" placeholder="Search Here!">
            </p>
          </form>
        </div>
      </div>
    </div>
    <button id="srch-close" class="btn btn-blue-fill-sqr"><i class="fa fa-times"></i> Close</button>
  </div>
  <!-- Search Box Area Ends -->


</header>

<div id="home" class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="content-left wow fadeInLeft">
          <h2>AFÍN</h2>
          <h1><span>APLICACIÓN MOVIL</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
          <!--a href="#" class="btn btn-default">Download</a>
          <a href="#" class="btn btn-default">Learn more</a-->
        </div>
      </div>
      <div class="col-md-6 col-xs-12 hidden-sm">
        <div class="content-right wow fadeInRight">
          <img src="assets/landing/img/1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- features-section -->
<div id="feature" class="features-section text-center pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <h2><span>Porqué</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-feature mb-30">
          <div class="feature-icon active">
            <a href="#"><img src="assets/landing/img/feature/Icon1.png" alt="" /></a>
          </div>
          <div class="feature-content">
            <h3 class="active">Percepción de inseguridad</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-feature mb-30">
          <div class="feature-icon">
            <a href="#"><img src="assets/landing/img/feature/Icon2.png" alt="" /></a>
          </div>
          <div class="feature-content">
            <h3>Convivencia ciudadana</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-sm col-xs-12">
        <div class="single-feature mb-30">
          <div class="feature-icon">
            <a href="#"><img src="assets/landing/img/feature/Icon3.png" alt="" /></a>
          </div>
          <div class="feature-content">
            <h3>Congestión vehicular</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="screenshoot" class="screenshoot-section text-center pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <h2>APPS <span>SCHREENSHOOT</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="screenshot-slider">
        <div class="item col-xs-12"><img src="assets/landing/img/l2.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l3.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l4.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l5.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l6.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l7.png" alt="" /> </div>
        <div class="item col-xs-12"><img src="assets/landing/img/l8.png" alt="" /> </div>
      </div>
    </div>
  </div>
</div>

<div id="works" class="works-area pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h2>como <span>funciona</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="work-left-content">
          <div class="content-box">
            <h3>REGÍSTRATE</h3>
            <p>Lorem ipsum dolor sit amet, consecteturadipisicingelit, sed deiusmod tempor incididunt ut labore et dolore magna
              aliqua. temporincididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="content-box pt-50">
            <h3>CREA TUS RUTAS</h3>
            <p>Lorem ipsum dolor sit amet, consecteturadipisicingelit, sed deiusmod tempor incididunt ut labore et dolore magna
              aliqua. temporincididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="content-box pt-50 hidden-sm">
            <h3>COMPARTE CON AMIGOS</h3>
            <p>Lorem ipsum dolor sit amet, consecteturadipisicingelit, sed deiusmod tempor incididunt ut labore et dolore magna
              aliqua. temporincididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="content-box pt-50 hidden-sm">
            <h3>VIAJA SEGURO</h3>
            <p>Lorem ipsum dolor sit amet, consecteturadipisicingelit, sed deiusmod tempor incididunt ut labore et dolore magna
              aliqua. temporincididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="mouk-up">
          <img src="assets/landing/img/HIW.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="download" class="download-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h2>APPS <span>DOWNLOAD</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="download-links">
          <a href="#">
            <i class="fa fa-android"></i>
             <h4>GOOGLE STORE</h4>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="download-links active">
          <a href="#">
            <i class="fa fa-apple"></i>
             <h4>ISO APPS STORE</h4>							
          </a>
        </div>
      </div>
      <div class="col-md-4 hidden-sm col-xs-12">
        <div class="download-links">
          <a href="#">
            <i class="fa fa-windows"></i>
            <h4>WINDOWS APP STORE</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="team" class="team-section pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h2>Our team <span>Member</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="sinle-team text-center">
          <div class="team-img">
            <img src="assets/landing/img/juandiego.png" alt="" />
          </div>
          <div class="team-content">
            <h4>Juan Diego Bernal</h4>
            <span>Front end developer</span>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="sinle-team text-center">
          <div class="team-img">
            <img src="assets/landing/img/me.gif" alt="" />
          </div>
          <div class="team-content active">
            <h4>Sebastian Polanco</h4>
            <span>Front end developer</span>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="sinle-team text-center">
          <div class="team-img">
            <img src="assets/landing/img/kevin.jpeg" alt="" />
          </div>
          <div class="team-content">
            <h4>Kevin Sanchez</h4>
            <span>Front end developer</span>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="sinle-team text-center">
          <div class="team-img">
            <img src="assets/landing/img/drami.jpg" alt="" />
          </div>
          <div class="team-content">
            <h4>David Ramirez</h4>
            <span>Data Scientist</span>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="demo" class="video-section pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h2>DEMO<span>AFÍN </span></h2>

          <div>
            <div class="main">
              <!--img width="100" style="margin: 20px" src="../../../assets/img/logo.png" /-->
              <form class="form" style="margin: 1em 1em 8em 1em;">
                <md-form-field>
                  <input mdInput placeholder="Correo Electrónico" [formControl]="emailFormControl">
                  <md-error *ngIf="emailFormControl.hasError('pattern')">
                    Por favor ingrese un correo valido.
                  </md-error>
                  <md-error *ngIf="emailFormControl.hasError('required')">
                    Correo es <strong>obligatorio</strong>
                  </md-error>
                </md-form-field>
                <md-form-field>
                  <input mdInput placeholder="Contraseña" type="password" [formControl]="passwordFormControl">
                  <md-error *ngIf="emailFormControl.hasError('required')">
                    Contraseña es <strong>obligatorio</strong>
                  </md-error>
                </md-form-field>
                <button md-raised-button color="warn" (click)="login()" style="margin:20px 0">INICIAR SESIÓN</button>
                <button md-raised-button color="primary" (click)="loginFB()">INGRESAR CON FACEBOOK</button>
              </form>
            </div>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="subscribe-section pt-130">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="social-icon">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>