/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin:0px;
    height: -webkit-fill-available;
    background-color: #f3f1f3;
    display: flex;
    justify-content: center;
    align-items: center;
}