<md-toolbar color="primary">
  <span>Tus rutas</span>
</md-toolbar>
<div>
  <h1 style="margin: 20px">Bienvenido {{username}}</h1>
  <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/12662580_10154514210525898_8200912381842327469_n.jpg?oh=5125aee1b23eea7c5da1df75cfa474b1&oe=5A51AB9C" width="40" style="border-radius=50%">
  <md-accordion multi="false">
    <md-expansion-panel *ngFor="let route of routes">
      <md-expansion-panel-header>
        <md-panel-title>
          {{ route.name }}
        </md-panel-title>
        <md-panel-description>
        </md-panel-description>
      </md-expansion-panel-header>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      </agm-map>
      <div class="week">
        <ul>
          <li *ngFor="let day of days" [ngClass]="{'active': day.active}" (click)="day.active = !day.active">{{day.label}}</li>
        </ul>
      </div>
      <div style="flex-direction: column">
        <span><md-icon color="accent">alarm </md-icon> 07: 30 PM</span>
        <small class="flex"></small>
        <div style="flex-direction: row">
        <md-icon class="type-icon">directions_walk</md-icon>
      </div>
      </div>
      <!--md-select class="full-w" placeholder="Tipo de ruta">
                                <md-option *ngFor="let trip of trips" [value]="trip">
                                        {{ trip }}
                                </md-option>
                        </md-select-->
      <br>
      <button class="full-w" md-raised-button color="primary">Empezar ruta</button>
    </md-expansion-panel>
  </md-accordion>
</div>
<button md-fab class="corner-buttons">
        <md-icon class="md-24" (click)="add()">add</md-icon>
</button>
