agm-map {
    height: 200px;
    width: 100%;
}



.corner-buttons{
    position: absolute;
    bottom: 1em;
    right: 1em;
}

body{
    margin: 0;
}

.full-w{
    width: 100%;
    margin: 1em 0;
}



.type-icon{
    right: 1em;
    position: absolute;
}
.avatar {
    border-radius: 50%;
    border-color: transparent;
    height: 40px;
    overflow: hidden;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

